.pump-container {
  position: relative;
  left: 0;
  top: 0;
  background: white;
  border-radius: 1em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 15px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.pump-container .pump-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pump-container .pump-box {
  flex: 1;
  text-align: center;
  line-height: 1.5em;
  max-height: 1.5em;
  overflow: hidden;
  border: 1px solid black;
}
.pump-container span:nth-child(1),
.pump-container div:nth-child(1) {
  font-weight: bold;
}

.form-container {
  background: white;
  border-radius: 1em;
  margin: 10px 5px;
  padding: 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.form-container .header {
  font-weight: bold;
  font-size: 1.5em;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaeaea;
  border-radius: 1rem;
  margin: 5px 0;
  padding: 5px;
}
.options-container .caption {
  color: lightgrey;
}
.options-container .options-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: white;
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  border-radius: 1rem;
}
.options-container .options-row-container .options-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: white;
  border-radius: 1rem;
  margin: 5px auto;
  padding: 5px;
  width: 150px;
  height: 50px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.05);
}
.options-container .options-row-container .options-row .box {
  flex: 1;
  text-align: center;
  padding: 5px;
}
.options-container .options-row-container input {
  left: 0;
}

.btn {
  position: relative;
  height: 25px !important;
  border-radius: 1rem;
  width: 2.5rem !important;
}

.btn {
  background: white;
  transition: all 200ms ease-in-out;
}

.btn:checked {
  background: lime;
}

.btn:before {
  position: absolute;
  content: "" !important;
  background: black;
  height: 0.5rem !important;
  width: 0.5rem !important;
  top: 7px;
  left: 0px;
  transition: all 200ms ease-in-out;
  transform: translate(25px, 0);
  border-radius: 100%;
  margin: 0 !important;
}

.btn:checked:before {
  transform: translateX(5px);
}

/*# sourceMappingURL=admin-style.css.map */
