:root {
  --lyke-preview-width: 12em;
  --lyke-preview-height: calc(var(--lyke-preview-width) * 1.5);
}

#ps-search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}
#ps-search-form .slider-digit {
  transition: all 0.1s ease-out;
}
#ps-search-form .slider-digit.active {
  font-weight: bold;
}
#ps-search-form .slider-container {
  cursor: pointer;
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 1em;
  padding: 10px;
  margin: 0.5em;
  box-shadow: 0 0 3px;
  padding-bottom: 1em;
}
#ps-search-form .slider-content {
  padding: 0 1em;
  height: fit-content;
}
#ps-search-form .slider-content .ps-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#ps-search-form .slider-content .ps-digit-end {
  margin-top: 15px;
}
#ps-search-form .slider-content .slider-digit {
  position: absolute;
  left: 30px;
  width: 200px;
}

.shrink {
  animation: shrink 200ms ease-in-out;
  animation-fill-mode: forwards;
}

.expand {
  animation: expand 200ms ease-in-out;
  animation-fill-mode: forwards;
}

.box {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 0 0 2px #222222;
  width: var(--lyke-preview-width);
  max-height: var(--lyke-preview-height);
  margin: 0.5em;
  padding: 0.5em;
  list-style: none;
  cursor: pointer;
}
.box svg {
  width: 100%;
  height: 50%;
}

.box #sku {
  font-size: 14px;
}

.box:hover {
  animation: grow 100ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes grow {
  100% {
    box-shadow: 5px 5px 1px black;
  }
}
@keyframes shrink {
  100% {
    max-height: 0;
  }
  0% {
    max-height: 410px;
  }
}
@keyframes expand {
  100% {
    max-height: 1500px;
  }
  0% {
    max-height: 0px;
  }
}
.lyke-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.lyke-container .hide {
  display: none !important;
}
.lyke-container .pf-display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px;
  justify-content: space-evenly;
  max-height: 0;
  overflow: hidden;
}
.lyke-container .pf-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  background: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  max-width: fit-content;
  line-height: 2em;
  width: 100%;
}
.lyke-container .pf-bar #pf-equivalent {
  cursor: pointer;
  width: fit-content;
}
.lyke-container .pf-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}
.lyke-container .pf-overlay .ldBar-label {
  display: none;
}
.lyke-container .display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px;
  justify-content: space-evenly;
  max-height: 0;
  overflow: hidden;
}
.lyke-container .pf-loading-icon {
  display: block;
}

.pump-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nav {
  position: relative;
  display: flex;
  width: 100%;
}
.nav .nav-item {
  position: relative;
  flex: 1;
  text-align: center;
  padding: 2px 0;
  cursor: pointer;
}
.nav .nav-item.active::before {
  position: absolute;
  content: "";
  top: 90%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  transition: all 200ms ease-in-out;
}

.pump-display {
  padding-top: 50px;
}
.pump-display > div {
  max-height: 100%;
  overflow: hidden;
}
.pump-display .hide {
  max-height: 0;
  overflow: hidden;
}
.pump-display .hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
